body {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    background-image: url('https://st4.depositphotos.com/11634452/39276/i/450/depositphotos_392760318-stock-photo-green-grass-texture-sport-background.jpg');
    width: 600px;
    height: 750px;
    margin: auto;
    border: 1px solid black;
    overflow: hidden;

    img {
        position: absolute;
        height: 4rem;
        width: 4rem;
        left: 500px;
    }
}

.wall {
    width: 65px;
    height: 750px;
    background-color: black;
    position: absolute;
}

#topWall {
    top: 0;
}

#bottomWall {
    bottom: 0;
}